<app-page-header  [items]="['section'|translate]" [active_item]="'add'|translate"></app-page-header>
<button (click)="getAllDepartments()">aaa</button>
<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">

            <div class="card-body">

                <form [formGroup]="form" >
                    <div class="border m-2 p-2">
                        <div class="col-lg row">
                            <p class="mg-b-10 tx-semibold col-lg-3">
                              {{ "department" | translate }}<span class="tx-danger">*</span>
                            </p>
                            <ng-select [(ngModel)]="sectionData.department.departmentId" [ngModelOptions]="{standalone: true}" class="col-lg-5">
                              <ng-option *ngFor="let department of departments " value={{department.departmentId}}>
                                {{department.departmentName}}
                              </ng-option>
                            </ng-select>
                          </div>
                        <div class="col-lg row my-4">
                            <p class="mg-b-10 tx-semibold col-lg-3">{{'sectionName'|translate}}<span style="color:red ;"> *</span></p>
                            <input class="form-control col-lg-4" name="sectionName" id="sectionName" placeholder="{{'sectionName'|translate}}" type="text" formControlName="sectionName"
                            [ngClass]="{ 'is-invalid': submitted && f['sectionName'].errors }"   [(ngModel)]='sectionData.sectionName'>
                            <div *ngIf="submitted && f['sectionName'].errors" class="invalid-feedback col-lg-11">
                                <div class="text-center"ass="" *ngIf="f['sectionName'].errors['required']">{{'isRequired'|translate}}</div>
                                <div class="text-center" *ngIf="f['sectionName'].errors['pattern']">Enter only characters</div>
                            </div>
                        </div>



                </div>
                <hr  class="border border-3" style="color:#ccc;height:1px">
                <div class="">
                    <button class="btn text-white" type="submit" (click)="addSection()" style="background-color: #5666c0;">{{'save'|translate}}</button>
                    <a routerLink="/section/view" class="btn  text-white mx-2" type="submit" style="background-color: #7886d3;">{{'cancel'|translate}}</a>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Row -->
