<app-page-header title="{{'itemRequest' | translate}}" [items]="['itemRequest'| translate]"
  active_item="{{'add' | translate}}"></app-page-header>

<div class="row row-sm">
  <div class="col-lg-12 col-md-12">
    <div class="card  ">
      <!-- <div class="d-flex justify-content-between bg-black-2 align-items-center px-4 rounded-top">
                <h4 class="main-content-label text-black tx-24 py-3">Add Vendor</h4>
            </div> -->
      <div class="card-body">
        <form >

          <div class="border m-2 p-2">

            <div class="row">
              <div class="col-lg-6">

                <div class="col-lg my-1 row align-items-center">
                  <p class="mg-b-10 tx-semibold col-lg-5">
                    {{ "requestNumber" | translate
                    }}
                  </p>
                  <input readonly class="form-control input col-lg-7 my-1" name="itemRequestId" id="itemRequestId"
                  placeholder="{{'requestNumber' | translate}}" type="text"
                  [(ngModel)]='itemRequestData.itemRequestId' [ngModelOptions]="{standalone: true}">

                </div>
                </div>

                <div class="col-lg-6">
                <div class="col-lg row my-1 align-items-center">


                  <label for="" class="mg-b-10 tx-semibold col-lg-5">{{ 'itemRequestDate' | translate }}</label>
                  <mat-form-field appearance="outline" class="col-md-6 p-0 my-1 ">
                    <mat-label>{{'DD/MM/YYYY' | translate}}</mat-label>
                    <input id="itemRequestDate" name="itemRequestDate" #itemRequestDate
                      [(ngModel)]="itemRequestData.itemRequestDate" [ngModelOptions]="{standalone: true}" matInput
                      [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker" class="input-mini"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <!-- </div> -->
                </div>

              </div>



</div>
</div>
              <hr class="" style="color:#ccc;height:1px">

              <div class="">
                <button [disabled]="hiddenDiv" class="btn text-white" (click)="addItemRequest()" style="background-color:#4ca86a;" type="submit">{{'save' | translate}}</button>
                <a [routerLink]="['/itemRequest/itemRequest']" class="btn text-white mx-2" style="background-color:#84ba95;"
                  type="submit">{{'cancel' | translate}}</a>
              </div>
            </form>

</div>
      <div *ngIf="hiddenDiv" class="card-body">


          <div class="border m-2 p-2">



                <div class="mb-2">

                <div class="my-1">
                  <button class="btn bg-black-8 text-white" style="background-color:#4ca86a;"  (click)="Select2Open(select2modal)"> {{'addItem' | translate}}</button>
                </div>
                <table class="table table-striped border">

                  <tr class="text-center ">
                    <!-- <th scope="col" >S.No</th> -->

                    <!-- <td scope="col" >{{'ItemPicture' | translate}}</td> -->
                    <td scope="col" >{{'quantityPackage' | translate}}</td>
                    <td scope="col" >{{'itemName' | translate}}</td>

                    <!-- <td scope="col" >{{'countryOfOrigin' | translate}}</td> -->
                    <td scope="col" >{{'category' | translate}}</td>
                    <td scope="col" >{{'unit' | translate}}</td>
                    <!-- <td scope="col" >{{'subcategory' | translate}}</td> -->
                    <!-- <td scope="col" >{{'expiryDate' | translate}}</td> -->
                    <!-- <td scope="col" >{{'sellingPrice' | translate}}</td> -->
                    <!-- <td scope="col" >{{'buyingPrice' | translate}}</td> -->
                    <!-- <td scope="col" >{{'lastBuyingPrice' | translate}}</td> -->
                    <td scope="col" >{{'vendor' | translate}}</td>
                    <td scope="col" >{{'barCode' | translate}}</td>
                    <td scope="col"  data-html2canvas-ignore="true" class="noPrint">{{'action' | translate}}</td>
                  </tr>

                  <tbody class="table-group-divider">
                    <tr *ngFor="let item of itemsDetailsById">

                       <!-- <td class="d-flex justify-content-center m-sm-3"><img src="{{item.img}}" alt="" class="rounded" height="80" width="90"></td> -->
                       <td>{{item.quantityPackage}}</td>
                       <td>{{item.items.itemName}}</td>

                      <!-- <td>{{item.countryOfOrigin}}</td> -->
                      <td>{{item.items.category.categoryName}}</td>
                      <td>{{item.items.unit.unitName}}</td>
                      <!-- <td>{{item.subCategory.subcategoryName}}</td> -->
                      <!-- <td>{{item.expiryDate}}</td> -->
                      <!-- <td>{{item.sellingPrice}}</td> -->
                      <!-- <td>{{item.buyingPrice}}</td> -->
                      <!-- <td>{{item.lastBuyingPrice}}</td> -->
                      <td>{{item.items.vendor.vendorName}}</td>

                      <td ><ngx-barcode  [bc-value]="item.items.barCode"   [bc-line-color]="lineColor"
                        bc-element-type="svg"
                       [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
                       [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin"
                       [bc-font-size]="fontSize" [bc-background]="background"
                       [bc-margin]="margin" [bc-margin-top]="marginTop"
                       [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft"
                       [bc-margin-right]="marginRight"></ngx-barcode>
                       <span style="font:2px; color:rgb(23, 23, 23);">{{item.barCode}}</span></td>

                      <td data-html2canvas-ignore="true" class="noPrint">
                        <a class="btn btn-icon-text" (click)="Select2Update(select2modal2,item)"><i
                          class="fe fe-edit text-dark bd-black"></i></a>
                      <button class="btn btn-icon-text" (click)="deletePartner(item)"><i
                          class="fe fe-trash-2 text-dark bd-black"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
</div>
                </div>

</div>
</div>
              <hr class="" style="color:#ccc;height:1px">

</div>
</div>












  <!-- End Row -->

  <ng-template #select2modal let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
      <h6 class="modal-title"> {{'addItem' | translate}}</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">
    <form [formGroup]="form" *ngIf="itemRequestDetailsData">
      <div class="row">
        <div class="">
        <input hidden [(ngModel)]="itemRequestDetailsData.itemRequest.itemRequestId" [ngModelOptions]="{standalone: true}">
          <div class="col-lg my-1 row align-items-center">
            <p class="mg-b-10 tx-semibold col-lg-5">
              {{ "itemCode" | translate}}
            </p>
            <ng-select (change)="getItemByItemCode($event)" [(ngModel)]="itemRequestDetailsData.items.itemsId" [ngModelOptions]="  {standalone: true}"
              name="itemsId" id="itemsId" class="p-0 my-1 col-7">
              <ng-option *ngFor="let item of items" value="{{item.itemsId}}">
                {{item.itemCode}}
              </ng-option>
            </ng-select>

          </div>
          <div class="col-lg row my-1 align-items-center">
            <p class="mg-b-10 tx-semibold col-lg-5">{{'quantityPackage' | translate}}<span class="tx-danger">*</span>
            </p>
            <input class="form-control input col-lg-7 my-1" name="quantityPackage" id="quantityPackage"
              placeholder="{{'quantityPackage' | translate}}" type="text" formControlName="quantityPackage"
              [ngClass]="{ 'is-invalid': submitted && f['quantityPackage'].errors }"
              [(ngModel)]='itemRequestDetailsData.quantityPackage '>
            <div *ngIf="submitted && f['quantityPackage'].errors" class="invalid-feedback">
              <div class="text-end" *ngIf="f['quantityPackage'].errors['required']">{{'isRequired'|translate}}</div>
              <!-- <div *ngIf="f['quantityPackage '].errors['pattern']">Enter only characters</div> -->

            </div>
          </div>

          <div class="col-lg my-1 row align-items-center">
            <p class="mg-b-10 tx-semibold col-lg-5">{{'quantity' | translate}}<span class="tx-danger">*</span></p>
            <input class="form-control input col-lg-7 my-1" name="quantity" id="quantity"
              placeholder="{{'quantity' | translate}}" type="text" formControlName="quantity"
              [ngClass]="{ 'is-invalid': submitted && f['quantity'].errors }"
              [(ngModel)]='itemRequestDetailsData.quantity'>
            <div *ngIf="submitted && f['quantity'].errors" class="invalid-feedback">
              <div class="text-end" *ngIf="f['quantity'].errors['required']">{{'isRequired'|translate}}</div>
              <!-- <div *ngIf="f['quantity '].errors['pattern']">{{'enterOnlyNumbers' |translate}}</div> -->

            </div>

          </div>

        </div>
        <div class="col-lg-12">
          <div *ngIf="!isLoggedIn">
            <div class="col-lg my-1 row align-items-center">
              <p class="mg-b-10 tx-semibold col-lg-5">{{'barCode' | translate}}</p>
              <div class="modal-body text-center col-lg-7 my-1">
                <!-- <ngx-barcode readonly [bc-value]="itemsDetails.barCode" [bc-display-value]="true" [bc-height]="height">
                </ngx-barcode> -->
                <ngx-barcode  [bc-value]="itemsDetails.barCode" [bc-line-color]="lineColor"
                       bc-element-type="svg"
                       [bc-width]="1" [bc-height]="30" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
                       [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin"
                       [bc-font-size]="fontSize" [bc-background]="background"
                       [bc-margin]="margin" [bc-margin-top]="marginTop"
                       [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft"
                       [bc-margin-right]="marginRight"></ngx-barcode>
                       <span style="font:2px; color:rgb(23, 23, 23);">{{itemsDetails.barCode}}</span>

              </div>
            </div>
            <div class="col-lg my-1 row align-items-center">
              <p class="mg-b-10 tx-semibold col-lg-5">{{'categoryName' | translate}}</p>
              <input class="form-control input col-lg-7 my-1" name="categoryName" id="categoryName"
                placeholder="  {{'categoryName' | translate}}" type="text" readonly
                [value]='itemsDetails.category.categoryName'>
            </div>
            <div class="col-lg my-1 row align-items-center">
              <p class="mg-b-10 tx-semibold col-lg-5">{{'vendorName' | translate}}</p>
              <input class="form-control input col-lg-7 my-1" name="vendorName" id="vendorName"
                placeholder="{{'vendorName' | translate}}" type="text" readonly
                [value]='itemsDetails.vendor.vendorName'>
            </div>
            <div class="col-lg my-1 row align-items-center">
              <p class="mg-b-10 tx-semibold col-lg-5">{{'unit' | translate}}</p>
              <input class="form-control input col-lg-7 my-1" name="unit" id="unit" placeholder="{{'unit' | translate}}"
                type="text" readonly [value]='itemsDetails.unit.unitName'>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
    <div class="modal-footer">

      <button type="button" style="background-color:#4ca86a;" class="btn bg-black-3 text-white" (click)="modal.close('Close click')">{{'close' | translate}}</button>
      <button class="btn bg-black-8 text-white" (click)="addItemRequestDetails();modal.close()" type="button">{{'save' | translate}}</button>
    </div>

  </ng-template>
  <ng-template #select2modal2 let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
      <h6 class="modal-title">تعديل بيانات المادة</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" *ngIf="itemRequestDetailsData">
        <div class="row">
          <div class="">
          <input hidden [(ngModel)]="itemRequestDetailsData.itemRequest.itemRequestId" [ngModelOptions]="{standalone: true}">
            <div class="col-lg my-1 row align-items-center">
              <p class="mg-b-10 tx-semibold col-lg-5">
                {{ "itemCode" | translate}}
              </p>
              <ng-select (change)="getItemByItemCode($event)" [(ngModel)]="itemRequestDetailsData.items.itemsId" [ngModelOptions]="  {standalone: true}"
                name="itemsId" id="itemsId" class="p-0 my-1 col-7">
                <ng-option *ngFor="let item of items" value="{{item.itemsId}}">
                  {{item.itemCode}}
                </ng-option>
              </ng-select>

            </div>
            <div class="col-lg row my-1 align-items-center">
              <p class="mg-b-10 tx-semibold col-lg-5">{{'quantityPackage' | translate}}<span class="tx-danger">*</span>
              </p>
              <input class="form-control input col-lg-7 my-1" name="quantityPackage" id="quantityPackage"
                placeholder="{{'quantityPackage' | translate}}" type="text" formControlName="quantityPackage"
                [ngClass]="{ 'is-invalid': submitted && f['quantityPackage'].errors }"
                [(ngModel)]='itemRequestDetailsData.quantityPackage '>
              <div *ngIf="submitted && f['quantityPackage'].errors" class="invalid-feedback">
                <div class="text-end" *ngIf="f['quantityPackage'].errors['required']">{{'isRequired'|translate}}</div>
                <!-- <div *ngIf="f['quantityPackage '].errors['pattern']">Enter only characters</div> -->

              </div>
            </div>

            <div class="col-lg my-1 row align-items-center">
              <p class="mg-b-10 tx-semibold col-lg-5">{{'quantity' | translate}}<span class="tx-danger">*</span></p>
              <input class="form-control input col-lg-7 my-1" name="quantity" id="quantity"
                placeholder="{{'quantity' | translate}}" type="text" formControlName="quantity"
                [ngClass]="{ 'is-invalid': submitted && f['quantity'].errors }"
                [(ngModel)]='itemRequestDetailsData.quantity'>
                <div *ngIf="submitted && f['quantity'].errors" class="invalid-feedback">
                <div class="text-end" *ngIf="f['quantity'].errors['required']">{{'isRequired'|translate}}</div>
                <!-- <div *ngIf="f['quantity '].errors['pattern']">{{'enterOnlyNumbers' |translate}}</div> -->

              </div>

            </div>

          </div>
          <div class="col-lg-12">
            <div *ngIf="!isLoggedIn">
              <div class="col-lg my-1 row align-items-center">
                <p class="mg-b-10 tx-semibold col-lg-5">{{'barCode' | translate}}</p>
                <div class="modal-body text-center col-lg-7 my-1">
                  <!-- <ngx-barcode readonly [bc-value]="itemsDetails.barCode" [bc-display-value]="true" [bc-height]="height">
                  </ngx-barcode> -->
                  <ngx-barcode  [bc-value]="itemsDetails.barCode" [bc-line-color]="lineColor"
                         bc-element-type="svg"
                         [bc-width]="1" [bc-height]="30" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
                         [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin"
                         [bc-font-size]="fontSize" [bc-background]="background"
                         [bc-margin]="margin" [bc-margin-top]="marginTop"
                         [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft"
                         [bc-margin-right]="marginRight"></ngx-barcode>
                         <span style="font:2px; color:rgb(23, 23, 23);">{{itemsDetails.barCode}}</span>

                </div>
              </div>
              <div class="col-lg my-1 row align-items-center">
                <p class="mg-b-10 tx-semibold col-lg-5">{{'categoryName' | translate}}</p>
                <input class="form-control input col-lg-7 my-1" name="categoryName" id="categoryName"
                  placeholder="  {{'categoryName' | translate}}" type="text" readonly
                  [value]='itemsDetails.category.categoryName'>
              </div>
              <div class="col-lg my-1 row align-items-center">
                <p class="mg-b-10 tx-semibold col-lg-5">{{'vendorName' | translate}}</p>
                <input class="form-control input col-lg-7 my-1" name="vendorName" id="vendorName"
                  placeholder="{{'vendorName' | translate}}" type="text" readonly
                  [value]='itemsDetails.vendor.vendorName'>
              </div>
              <div class="col-lg my-1 row align-items-center">
                <p class="mg-b-10 tx-semibold col-lg-5">{{'unit' | translate}}</p>
                <input class="form-control input col-lg-7 my-1" name="unit" id="unit" placeholder="{{'unit' | translate}}"
                  type="text" readonly [value]='itemsDetails.unit.unitName'>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>

    <div class="modal-footer">
      <button type="button" class="btn bg-black-4 text-white" (click)="modal.close('Close click')">{{'close' | translate}}</button>
      <button class="btn bg-black-8 text-white" (click)="addItemRequestDetails();modal.close()" type="button">{{'save' | translate}} </button>
    </div>

  </ng-template>
