<app-page-header title="معلومات اضافية" [items]="['الموظف']" [active_item]="'moreDetails'|translate"></app-page-header>

<!-- <button (click)="getJobsInformationByEmployeeId()">aaaa</button> -->

<div class="row row-sm">
  <div class="col-lg-12 col-md-12">
    <div class="card custom-card">
      <div class="card-body">

        <form [formGroup]="form" *ngIf="employees">
          <div class="row border m-2 p-4">
            <div class="col-lg-10 row">
              <div class="mb-2 row mb-3 col-lg-6">
                <p class="mg-b-10 tx-semibold col-lg-4"> الاسم بالعربية :</p>
                <input class="form-control col-lg-8" type="text" disabled [value]="employees.employeeNameAr">
              </div>
              <div class="mb-2 row col-lg-6">
                <p class="mg-b-10 tx-semibold col-lg-4"> الاسم بالانجليزية : </p>
                <input class="form-control col-lg-8" type="text" disabled [value]="employees.employeeName">
              </div>
              <div class="mb-2 row mb-3 col-lg-6">
                <p class="mg-b-10 tx-semibold col-lg-4">الرمز الوظيفي : </p>
                <input class="form-control col-lg-8" type="text" disabled [value]="employees.employeeCode">
              </div>
              <div class="mb-2 row mb-3 col-lg-6">
                <p class="mg-b-10 tx-semibold col-lg-4">الجنس : </p>
                <input class="form-control col-lg-8" type="text" disabled [value]="employees.gender">
              </div>
            </div>
            <div class="row col-lg-2 card ">
              <img [src]="employees.image" alt="">
            </div>
          </div>

          <div class="card custom-card" id="basic-alert">
            <div class="card-body px-0">


              <div class="text-wrap">
                <div class="example">
                  <div class="panel panel-primary tabs-style-1">
                    <div class=" tab-menu-heading">
                      <div class="tabs-menu1">
                        <!-- Tabs -->
                        <ul ngbNav #nav="ngbNav" [activeId]="1" class="panel-tabs main-nav-line">
                          <li [ngbNavItem]="1">
                            <a ngbNavLink>Banks</a>
                            <ng-template ngbNavContent>


                              <button class="btn bg-black-8 text-white mb-2 float-end"
                                (click)="Select2Open(select1modal)" type="submit">{{'add'|translate}}</button>

                              <table class="table table-striped border" #TABLE #table id="bankprint" #bankprint>
                                <tr class="p-4 text-center ">
                                  <th scope="col">{{'number'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'banks'|translate}}</th>
                                  <!-- <th scope="col" (sort)="onSort($event)">{{'الفرع'|translate}}</th> -->
                                  <th class="noprint" scope="col" (sort)="onSort($event)">{{'action'|translate}}</th>
                                </tr>
                                <tbody class="table-group-divider">
                                  <tr *ngFor="let bank of empBanks;let i = index">

                                    <td>{{i + 1}}</td>
                                    <td>{{bank.bank.bankName}}</td>
                                    <td class="noprint">
                                      <!-- <a class="btn btn-icon-text" routerLink=""><i
                                          class="fe fe-edit text-dark bd-black "
                                          ngbTooltip="{{'Update'|translate}}"></i></a> -->
                                      <button class="btn btn-icon-text" (click)="deleteBank(bank.employeeBankId)"><i class="fe fe-trash-2 text-dark bd-black"
                                          ngbTooltip="{{'delete'|translate}}"></i></button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </ng-template>
                          </li>
                          <li [ngbNavItem]="2">
                            <a ngbNavLink>insurance Company</a>
                            <ng-template ngbNavContent>
                              <button class="btn bg-black-8 text-white mb-2 float-end"
                                (click)="Select2Open(select2modal)" type="submit">{{'add'|translate}}</button>
                              <table class="table table-striped border" #TABLE #table id="bankprint" #bankprint>
                                <tr class="p-4 text-center ">
                                  <th scope="col">{{'number'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'insuranceCompany'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'insurancePolicyNum'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'insurancePolicyType'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'issueDate'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'expiryData'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'insurancePolicyDegree'|translate}}</th>
                                  <th class="noprint" scope="col" (sort)="onSort($event)">{{'action'|translate}}</th>
                                </tr>
                                <tbody class="table-group-divider">
                                  <tr *ngFor="let insuranceCompany of empInsuranceCompanies;let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{insuranceCompany.insuranceCompany.insuranceCompanyName}}</td>
                                    <td>{{insuranceCompany.insurancePolicyNum}}</td>
                                    <td>{{insuranceCompany.insurancePolicyType}}</td>
                                    <td>{{insuranceCompany.issueDate}}</td>
                                    <td>{{insuranceCompany.expiryData}}</td>
                                    <td>{{insuranceCompany.insurancePolicyDegree}}</td>
                                    <td class="noprint">
                                      <!-- <a class="btn btn-icon-text" routerLink=""><i
                                          class="fe fe-edit text-dark bd-black "
                                          ngbTooltip="{{'Update'|translate}}"></i></a> -->
                                      <button class="btn btn-icon-text" (click)="deleteInsuranceCompany(insuranceCompany.employeeInsuranceCompanyId)"><i class="fe fe-trash-2 text-dark bd-black"
                                          ngbTooltip="{{'delete'|translate}}"></i></button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </ng-template>
                          </li>
                          <li [ngbNavItem]="3">
                            <a ngbNavLink> Address</a>
                            <ng-template ngbNavContent>
                              <button class="btn bg-black-8 text-white mb-2 float-end"
                                (click)="Select2Open(select3modal)" type="submit">{{'add'|translate}}</button>
                              <table class="table table-striped border">
                                <tr class="p-4 text-center ">
                                  <th scope="col">{{'addressName'|translate}}</th>
                                  <th scope="col">{{'number'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'address'|translate}}</th>
                                  <th class="noprint" scope="col" (sort)="onSort($event)">{{'action'|translate}}</th>
                                </tr>
                                <tbody class="table-group-divider">
                                  <tr *ngFor="let address of addresses;">
                                    <td>{{address.addressName}}</td>
                                    <td>{{address.email}}</td>
                                    <td>{{address.phoneNumber}}</td>
                                    <td class="noprint">
                                      <!-- <a class="btn btn-icon-text" routerLink=""><i
                                          class="fe fe-edit text-dark bd-black "
                                          ngbTooltip="{{'Update'|translate}}"></i></a> -->
                                      <button class="btn btn-icon-text" (click)="deleteAddress(address.addressId)"><i class="fe fe-trash-2 text-dark bd-black"
                                          ngbTooltip="{{'delete'|translate}}"></i></button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </ng-template>
                          </li>
                          <li [ngbNavItem]="4">
                            <a ngbNavLink>Qualifications </a>
                            <ng-template ngbNavContent>
                              <button class="btn bg-black-8 text-white mb-2 float-end"
                                (click)="Select2Open(select4modal)" type="submit">{{'add'|translate}}</button>
                              <table class="table table-striped border" #TABLE #table id="bankprint" #bankprint>
                                <tr class="p-4 text-center ">
                                  <th scope="col">{{'number'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'qualifications'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'major'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'univarsitis'|translate}}</th>
                                  <th class="noprint" scope="col" (sort)="onSort($event)">{{'action'|translate}}</th>
                                </tr>
                                <tbody class="table-group-divider">
                                  <tr *ngFor="let empQualification of empQualifications;let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{empQualification.qualification.qualificationName}}</td>
                                    <td>{{empQualification.major.majorName}}</td>
                                    <td>{{empQualification.university.universityName}}</td>
                                    <td class="noprint">
                                      <!-- <a class="btn btn-icon-text" routerLink=""><i class="fe fe-edit text-dark bd-black "                                          ngbTooltip="{{'Update'|translate}}"></i></a> -->
                                      <button class="btn btn-icon-text" (click)="deleteQualification(empQualification.employeeQualificationId)"><i class="fe fe-trash-2 text-dark bd-black" ngbTooltip="{{'delete'|translate}}"></i></button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </ng-template>
                          </li>
                          <li [ngbNavItem]="5">
                            <a ngbNavLink>Job Inforamtion</a>
                            <ng-template ngbNavContent>
                              <button class="btn bg-black-8 text-white mb-2 float-end"
                                (click)="Select2Open(select5modal)" type="submit">{{'add'|translate}}</button>
                              <table class="table table-striped border" #TABLE #table id="bankprint" #bankprint>
                                <tr class="p-4 text-center ">
                                  <th scope="col">{{'number'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'departments'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'sections'|translate}}</th>
                                  <th scope="col" (sort)="onSort($event)">{{'jobTitles'|translate}}</th>
                                  <th class="noprint" scope="col" (sort)="onSort($event)">{{'action'|translate}}</th>
                                </tr>
                                <tbody class="table-group-divider">
                                  <tr *ngFor="let empJobInfo of empJobsInformation;let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{empJobInfo.section.department.departmentName}}</td>
                                    <td>{{empJobInfo.section.sectionName}}</td>
                                    <td>{{empJobInfo.jobTitle.jobTitleName}}</td>
                                    <td class="noprint">
                                      <!-- <a class="btn btn-icon-text" routerLink=""><i class="fe fe-edit text-dark bd-black "                                          ngbTooltip="{{'Update'|translate}}"></i></a> -->
                                      <button class="btn btn-icon-text" (click)="deleteJobInformation(empJobInfo.employeeJobInformationId)"><i class="fe fe-trash-2 text-dark bd-black" ngbTooltip="{{'delete'|translate}}"></i></button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </ng-template>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="panel-body tabs-menu-body main-content-body-right border-top-0 border">
                      <div [ngbNavOutlet]="nav"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="border border-3" style="color:#ccc;height:1px">
          <div class="">
            <button class="btn bg-black-8 text-white" type="submit">{{'Save'|translate}}</button>
            <a routerLink="/employee/view" class="btn bg-black-3 text-white mx-2"
            type="submit">{{'Cancel'|translate}}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ng-template #select1modal let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
      <h6 class="modal-title">اضافة بنك للموظف</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="col-lg row">
      <p class="mg-b-10 tx-semibold col-lg-5">
        {{ "bank" | translate }}<span class="tx-danger">*</span>
      </p>
      <ng-select [(ngModel)]="employeeBankData.bank.bankId" class="p-0 my-1 col-7 ">
        <ng-option *ngFor="let bank of banks" value={{bank.bankId}}>
          {{bank.bankName}}
        </ng-option>
      </ng-select>
    </div>
    
    <div class="modal-footer">
      <button type="button" class="btn bg-black-3 text-white" (click)="modal.close('Close click')">Close</button>
      <button class="btn bg-black-8 text-white" type="button" (click)="addBank();modal.close('Close click')">Save </button>
    </div>
    
  </ng-template>
  <!-- End Row -->
  <ng-template #select2modal let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
      <h6 class="modal-title">اضافة شركة تامين للموظف</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="py-4">
    <div class="col-lg row">
      <p class="mg-b-10 tx-semibold col-lg-5">
        {{ "insuranceCompany" | translate }}<span class="tx-danger">*</span>
      </p>
      <ng-select [(ngModel)]="employeeInsuranceCompanyData.insuranceCompany.insuranceCompanyId" class="p-0 my-1 col-7 ">
        <ng-option *ngFor="let insuranceCompany of insuranceCompanies" value={{insuranceCompany.insuranceCompanyId}}>
          {{insuranceCompany.insuranceCompanyName}}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-lg row">
      <p class="mg-b-10 tx-semibold col-lg-5">
        {{ "insurancePolicyNum" | translate }}<span class="tx-danger">*</span>
      </p>
      <input type="text" [(ngModel)]="employeeInsuranceCompanyData.insurancePolicyNum" class="form-control p-0 my-1 col-7 ">
    </div>
  <div class="col-lg row">
    <p class="mg-b-10 tx-semibold col-lg-5">
      {{ "insurancePolicyType" | translate }}<span class="tx-danger">*</span>
    </p>
    <input type="text" [(ngModel)]="employeeInsuranceCompanyData.insurancePolicyType" class="form-control p-0 my-1 col-7 ">
  </div>
  <div class="col-lg row">
    <p class="mg-b-10 tx-semibold col-lg-5">
      {{ "issueDate" | translate }}<span class="tx-danger">*</span>
    </p>
    <input type="text" [(ngModel)]="employeeInsuranceCompanyData.issueDate" class="form-control p-0 my-1 col-7 ">
  </div>
  <div class="col-lg row">
    <p class="mg-b-10 tx-semibold col-lg-5">
      {{ "expiryData" | translate }}<span class="tx-danger">*</span>
    </p>
    <input type="text" [(ngModel)]="employeeInsuranceCompanyData.expiryData" class="form-control p-0 my-1 col-7 ">
  </div>
  <div class="col-lg row">
    <p class="mg-b-10 tx-semibold col-lg-5">
      {{ "insurancePolicyDegree" | translate }}<span class="tx-danger">*</span>
    </p>
    <input type="text" [(ngModel)]="employeeInsuranceCompanyData.insurancePolicyDegree" class="form-control p-0 my-1 col-7 ">
  </div>
</div>

    <div class="modal-footer">
      <button type="button" class="btn bg-black-3 text-white" (click)="modal.close('Close click')">Close</button>
      <button class="btn bg-black-8 text-white" type="button" (click)="addInsuranceCompany();modal.close('Close click')">Save </button>
    </div>

  </ng-template>
  <!-- End Row -->
  <ng-template #select3modal let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
      <h6 class="modal-title">اضافة عنوان</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">
      <div class="mb-2 row">
        <p class="mg-b-10 tx-semibold col-lg-4"> العنوان</p>
        <input class="form-control col-lg-8" [(ngModel)]='addressData.addressName'>
      </div>
      <div class="mb-2 row">
        <p class="mg-b-10 tx-semibold col-lg-4"> البريد الالكتروني</p>
        <input class="form-control col-lg-8" [(ngModel)]='addressData.email'>
      </div>
      <div class="mb-2 row">
        <p class="mg-b-10 tx-semibold col-lg-4"> رقم الهاتف</p>
        <input class="form-control col-lg-8" [(ngModel)]='addressData.phoneNumber'>
      </div>      
    </div>
    <div class="modal-footer">

      <button type="button" class="btn bg-black-3 text-white" (click)="modal.close('Close click')">Close</button>
      <button class="btn bg-black-8 text-white" type="button" (click)="addAddress()">Save </button>
    </div>

  </ng-template>
  <!-- End Row -->
  <ng-template #select4modal let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
      <h6 class="modal-title">اضافة مؤهل للموظف</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">

      <div  class="col-lg row">
        <p class="mg-b-10 tx-semibold col-lg-5">
          {{ "qualification" | translate }}<span class="tx-danger">*</span>
        </p>
        <ng-select [(ngModel)]="employeeQualificationData.qualification.qualificationId" class="p-0 my-1 col-7 ">
          <ng-option *ngFor="let qualification of qualification " value={{qualification.qualificationId}}>
            {{qualification.qualificationName}}
          </ng-option>
        </ng-select>
      </div>



      <div class="col-lg row">
        <p class="mg-b-10 tx-semibold col-lg-5">
          {{ "university" | translate }}<span class="tx-danger">*</span>
        </p>
        <ng-select [(ngModel)]="employeeQualificationData.university.universityId" class="p-0 my-1 col-7 ">
          <ng-option *ngFor="let university of universities " value={{university.universityId}}>
            {{university.universityName}}
          </ng-option>
        </ng-select>
      </div>



      <div class="col-lg row">
        <p class="mg-b-10 tx-semibold col-lg-5">
          {{ "major" | translate }}<span class="tx-danger">*</span>
        </p>
        <ng-select [(ngModel)]="employeeQualificationData.major.majorId" class="p-0 my-1 col-7 ">
          <ng-option *ngFor="let major of majors " value={{major.majorId}}>
            {{major.majorName}}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="modal-footer">

      <button type="button" class="btn bg-black-3 text-white" (click)="modal.close('Close click')">Close</button>
      <button class="btn bg-black-8 text-white" type="button" (click)="addQualification();modal.close('Close click')">Save </button>
    </div>

  </ng-template>

  <ng-template #select5modal let-modal>
    <!-- Select2 modal -->
    <div class="modal-header">
      <h6 class="modal-title">اضافة Job Info</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">

      <div class="col-lg row">
        <p class="mg-b-10 tx-semibold col-lg-5">
          {{ "department" | translate }}<span class="tx-danger">*</span>
        </p>
        <ng-select [(ngModel)]="employeeJobInfoData.department.departmentId" (change)="getSectionByDepartment($event)" class="p-0 my-1 col-7 ">
          <ng-option *ngFor="let department of departments " value={{department.departmentId}}>
            {{department.departmentName}}
          </ng-option>
        </ng-select>
      </div>



      <div class="col-lg row">
        <p class="mg-b-10 tx-semibold col-lg-5">
          {{ "section" | translate }}<span class="tx-danger">*</span>
        </p>
        <ng-select [(ngModel)]="employeeJobInfoData.section.sectionId" class="p-0 my-1 col-7 ">
          <ng-option *ngFor="let section of sectionByDepartment " value={{section.sectionId}}>
            {{section.sectionName}}
          </ng-option>
        </ng-select>
      </div>



      <div class="col-lg row">
        <p class="mg-b-10 tx-semibold col-lg-5">
          {{ "jobTitle" | translate }}<span class="tx-danger">*</span>
        </p>
        <ng-select [(ngModel)]="employeeJobInfoData.jobTitle.jobTitleId" class="p-0 my-1 col-7 ">
          <ng-option *ngFor="let jobTitle of jobTitles " value={{jobTitle.jobTitleId}}>
            {{jobTitle.jobTitleName}}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="modal-footer">

      <button type="button" class="btn bg-black-3 text-white" (click)="modal.close('Close click')">Close</button>
      <button class="btn bg-black-8 text-white" type="button" (click)="addJobInfo();modal.close('Close click')">Save </button>
    </div>

  </ng-template>
  <!-- End Row -->