<app-page-header title="{{'subcategory' | translate}}" [items]="['subcategory'| translate]" active_item="{{'edit' | translate}}"></app-page-header>

<div class="row row-sm">
  <div class="col-lg-12 col-md-12">
    <div class="card  ">

      <div class="card-body">
        <!-- <form *ngIf="Subcategory">
          <div class="border m-2 p-2">
          <div class="col-lg row">
            <p class="mg-b-10 tx-semibold col-lg-2">SubCategory Name</p>
            <input class="form-control col-lg-8" name="subcategoryName" id="subcategoryName" placeholder="Input box"
              type="text" [(ngModel)]="Subcategory.subcategoryName" />
          </div>
          <div class="col-lg row align-items-center">
            <p class="mg-b-10 tx-semibold col-lg-2">Category Name</p>
            <ng-select [(ngModel)]="Subcategory.category.categoryId" name="categoryId" id="categoryId"
              class="col-lg-8 p-0 my-4">
              <ng-option *ngFor="let item of category" [value] ="item.categoryId">
                {{ item.categoryName }}
              </ng-option>
            </ng-select>
          </div>

          <div class="col-lg my-4 row">
            <p class="mg-b-10 tx-semibold col-lg-2">description</p>
            <textarea class="form-control col-lg-8" placeholder="Textarea" name="description" id="description" rows="3"
              [(ngModel)]="Subcategory.description"></textarea>
          </div>
</div>
<hr  class="border border-3" style="color:#000;height:1px">

          <div class="">
            <button class="btn bg-black-8 text-white" type="submit" (click)="subCategoryUpdate()">
              Save
            </button>
            <a href="/Subcategory/Subcategory" class="btn bg-black-8 text-white mx-2" type="submit">Cancel</a>
          </div>
        </form> -->


        <form [formGroup]="form" *ngIf="Subcategory">
          <div class="border m-2 p-2">

            <div class="col-lg row align-items-center">
              <p class="mg-b-10 tx-semibold col-lg-2">{{'categoryName' | translate}}</p>
              <ng-select formControlName="categoryId"
              [ngClass]="{ 'is-invalid': submitted && f['categoryId'].errors }"  [(ngModel)]='Subcategory.category.categoryId' name="categoryId" id="categoryId" class="col-lg-4 p-0 my-4"  >
                  <ng-option
                  *ngFor="let item of category" [value]="item.categoryId">
                    {{item.categoryName}}
                </ng-option>

              </ng-select>
              <div *ngIf="submitted && f['categoryId'].errors" class="invalid-feedback">

                <div class="text-center"
                *ngIf="f['categoryId'].errors['required']">{{'isRequired'|translate}}</div>
              </div>
            </div>

            <div class="col-lg row align-items-center">
                <p class="mg-b-10 tx-semibold col-lg-2">{{'subcategoryName' | translate}}</p>
                <input class="form-control col-lg-4" name="subcategoryName" id="subcategoryName" placeholder="{{'subcategoryName'|translate}}"
                type="text" formControlName="subcategoryName"
                [ngClass]="{ 'is-invalid': submitted && f['subcategoryName'].errors }"  [(ngModel)]='Subcategory.subcategoryName'>
                <div *ngIf="submitted && f['subcategoryName'].errors" class="invalid-feedback">
                  <div class="text-center"
                  *ngIf="f['subcategoryName'].errors['required']">{{'isRequired'|translate}}</div>
                  <!-- <div *ngIf="f['subcategoryName'].errors['pattern']">Enter only characters</div> -->
                </div>
            </div>


            <div class="col-lg my-4 row align-items-center">
                <p class="mg-b-10 tx-semibold col-lg-2" >{{'description' | translate}}</p>
                <textarea class="form-control col-lg-4" placeholder="{{'description'|translate}}" name="description"
                 id="description" rows="3" [(ngModel)]='Subcategory.description' [ngModelOptions]="{standalone: true}" ></textarea>
            </div>
          </div>
          <hr  class="border border-3" style="color:#ccc;height:1px">

            <div class="">
                <button style="background-color:#ddda66;" class="btn bg-black-8 text-black" type="submit" (click)="subCategoryUpdate()"> {{'save' | translate}}</button>
                <a style="background-color:#fcf6b6;" [routerLink]="['/Subcategory/Subcategory']" class="btn bg-black-3 text-black mx-2" type="submit"> {{'cancel' | translate}}</a>
            </div>
        </form>



      </div>
    </div>
  </div>
  <!-- End Row -->
</div>
