<app-page-header  [items]="['employee'|translate]" [active_item]="'View'|translate" class="noprint"></app-page-header>
<div class="row row-sm">
    <div class="col-xl-12">
      <div class="card overflow-visible custom-card">
        <div class="card-body p-0">
          <div class="table-responsive rounded-top">
            <form class="pos-relative p-4">
                <div class="noprint form-group form-inline d-flex justify-content-between">
                    <div>
                      {{'fullTextSearch'|translate}}<input class="form-control ms-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
                      <span class="ml-3" *ngIf="service.loading$ | async">{{'loading'|translate}}</span>
                    </div>
                    <div class="table-btns">


                      <button _ngcontent-xjy-c134=""  (click)="generatePDF() " type="button" class="btn my-2 btn-icon-text bg-black-7 text-white" style="margin-right: 5px; padding: 5px;"><i _ngcontent-aph-c190="" class="mdi mdi-file-pdf text-danger bg-transparent fs-18 p-0 me-1"></i>PDF</button>

                      <!-- <button _ngcontent-xjy-c134="" type="button" class="btn btn-info my-2 btn-icon-text" style="margin-right: 5px; padding: 5px;">CSV</button> -->

                      <button _ngcontent-xjy-c134="" (click)="ExportTOExcel() " type="button" class="btn my-2 btn-icon-text bg-black-7 text-white" style="margin-right: 5px; padding: 5px;"><i _ngcontent-rtg-c190="" class="mdi mdi-file-excel bg-transparent text-success fs-18 p-0 me-1"></i>XLS</button>
                      <button _ngcontent-xjy-c134="" type="button" class="btn my-2 btn-icon-text bg-black-7" style="margin-right: 5px; padding: 0px;"><i _ngcontent-xjy-c134="" class="fe fe-printer bg-transparent text-white p-2 m-2" (click)="printPage()"></i></button>
                      <a _ngcontent-xjy-c134="" routerLink="../add" type="button" class="btn bg-black-7 my-2 btn-icon-text d-inline-block m-2">
                      <i _ngcontent-xjy-c134="" class="fe fe-plus text-white bg-transparent"></i>
                      <span _ngcontent-xjy-c134="" class="text-white">{{'add'|translate}}</span>
                    </a>
                    </div>
                </div>

                <table class="table table-bordered table-shopping-cart" #TABLE #table id="employeeprint" #employeeprint>
                  <tr class="p-4 text-center table-header-line">
                    <th scope="col">{{'number'|translate}}</th>
                    <th scope="col" (sort)="onSort($event)">{{'name'|translate}}</th>
                    <th scope="col" (sort)="onSort($event)">{{'nameAr'|translate}}</th>
                    <th scope="col" (sort)="onSort($event)">{{'dateOfJoin'|translate}}</th>
                    <th scope="col" (sort)="onSort($event)">{{'gender'|translate}}</th>
                    <th  class="noprint" scope="col" (sort)="onSort($event)">{{'action'|translate}}</th>
                  </tr>
                  <tbody class="table-group-divider">
                    <tr *ngFor="let employee of employees;">

                      <td>{{employee.employeeId}}</td>
                      <td>{{employee.employeeName}}</td>
                      <td>{{employee.employeeNameAr}}</td>
                      <td>{{employee.dateOfJoin}}</td>
                      <td>{{employee.gender}}</td>
                      <td class="noprint">
                        <a class="btn btn-icon-text" routerLink="../update/{{employee.employeeId}}"><i class="fe fe-edit text-dark bd-black "ngbTooltip="{{'Update'|translate}}"></i></a>
                        <button class="btn btn-icon-text" (click)="deleteEmployee(employee.employeeId)"><i class="fe fe-trash-2 text-dark bd-black"ngbTooltip="{{'delete'|translate}}"></i></button>
                        <a class="btn btn-icon-text" routerLink="../more-details/{{employee.employeeId}}"><i class="fe fe-edit text-dark bd-black "ngbTooltip="{{'moreDetails'|translate}}"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="noprint d-flex justify-content-between p-2">
                  <ngb-pagination
                    [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                  </ngb-pagination>

                  <!-- <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                    <option [ngValue]="2">2 items</option>
                    <option [ngValue]="4">4 items</option>
                    <option [ngValue]="6">6 items</option>
                  </select> -->
                  <ng-select class="" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                    <ng-option ng-option-selected value="0">--Select--</ng-option>

                  </ng-select>
                </div>

              </form>
          </div>
        </div>
      </div>
    </div>
