
<app-page-header title="{{'category' | translate}}" [items]="['category'| translate]" active_item="{{'edit' | translate}}"></app-page-header>

<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card  ">
            <!-- <div class="d-flex justify-content-between align-items-center px-4 rounded-top">
                <h4 class="main-content-label text-black tx-24 py-3">Edit Category</h4>
            </div> -->
            <div class="card-body">

                <form [formGroup]="form" *ngIf="category">
                  <div class="border m-2 p-2">

                    <div class="col-lg my-4 row">
                        <p class="mg-b-10 tx-semibold col-lg-2">{{'categoryName' | translate}}</p>
                        <input class="form-control col-lg-4" name="categoryName" id="categoryName" placeholder="{{'categoryName' | translate}}"
                        type="text"

                        formControlName="categoryName"
                  [ngClass]="{ 'is-invalid': submitted && f['categoryName'].errors }"


                        [(ngModel)]='category.categoryName'>

                        <div *ngIf="submitted && f['categoryName'].errors" class="invalid-feedback">
                          <div class="text-center"
                          *ngIf="f['categoryName'].errors['required']">{{'isRequired'|translate}}</div>
                          <!-- <div *ngIf="f['categoryName'].errors['pattern']">Enter only characters</div> -->
                        </div>
                        </div>

                    <div class="col-lg my-4 row">
                        <p class="mg-b-10 tx-semibold col-lg-2" >{{'description' | translate}}</p>
                        <textarea class="form-control col-lg-4" placeholder="{{'description' | translate}}" name="description"
                         id="description" rows="3" [(ngModel)]='category.description' [ngModelOptions]="{standalone: true}" ></textarea>
                    </div>
                    </div>
                    <hr  class="border border-3" style="color:#ccc;height:1px">

                    <div class="">
                        <button style="background-color:#ddda66;" class="btn bg-black-8 text-black" type="submit" (click)="categoryUpdate()">{{'save' | translate}}</button>
                        <a style="background-color:#fcf6b6;" routerLink="/category/category" class="btn bg-black-3 text-black mx-2" type="submit">{{'cancel' | translate}}</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- End Row -->
