<app-page-header [items]="['qualifications'|translate]" [active_item]="'add'|translate"></app-page-header>

<div class="row row-sm">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <!-- <div class="d-flex justify-content-between bg-black-2 align-items-center px-4 rounded-top">
                <h4 class="main-content-label text-black tx-24 py-3"> Qualifications</h4>
            </div> -->
            <div class="card-body">
                <form [formGroup]="form">
                    <div class="border  m-2 p-2">
                    <div class="col-lg row  my-4">
                        <p class="mg-b-10 tx-semibold col-lg-2">{{'qualificationsName'|translate}}<span style="color:red ;"> *</span></p>
                        <input class="form-control col-lg-4" name="qualificationName" id="qualificationName" placeholder="{{'qualificationsName'|translate}}" type="text" formControlName="qualificationName"
                        [ngClass]="{ 'is-invalid': submitted && f['qualificationName'].errors }"  [(ngModel)]='qualificationData.qualificationName'>
                        <div  *ngIf="submitted && f['qualificationName'].errors" class="invalid-feedback col-lg-11">

                            <div class="text-center" *ngIf="f['qualificationName'].errors['required']">{{'isRequired'|translate}}</div>
                            <div class="text-center" *ngIf="f['qualificationName'].errors['pattern']">Enter only characters</div>
                          </div>
                    </div>
                    <div class="col-lg my-4 row">
                        <p class="mg-b-10 tx-semibold col-lg-2" >{{'description'|translate}}</p>
                        <textarea class="form-control col-lg-4" placeholder="{{'description'|translate}}" name="bankDescription" id="bankDescription" rows="3"
                        formControlName="qualificationDescription"
                        [ngClass]="{ 'is-invalid': submitted && f['qualificationDescription'].errors }"  [(ngModel)]='qualificationData.qualificationDescription'  ></textarea>
                           <div *ngIf="submitted && f['qualificationDescription'].errors" class="invalid-feedback">
                            <div
                            *ngIf="f['qualificationDescription'].errors['required']">Is required</div>
                          </div>
                    </div>
                </div>
                <hr  class="border border-3" style="color:#ccc;height:1px">
                    <div class="">
                        <button class="btn  text-white" type="submit" (click)="addQualification()" style="background-color: #5666c0;">{{'save'|translate}}</button>
                        <a routerLink="/qualification/view" class="btn  text-white mx-2" type="submit" style="background-color: #7886d3;">{{'cancel'|translate}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Row -->
