
<app-page-header class="noPrint" title="{{'subcategory' | translate}}" [items]="['subcategory'| translate]" active_item="{{'view' | translate}}"></app-page-header>
<div class="row row-sm">
    <div class="col-xl-12">
      <div class="card overflow-visible  ">
        <div class="card-body p-0">
          <div class="table-responsive rounded-top">
            <!-- <div class="d-flex justify-content-between bg-black-2 align-items-center px-4 rounded-top">
              <h4 class="main-content-label text-black tx-24"></h4>
              <a _ngcontent-xjy-c134="" routerLink="../create-Subcategory" type="button" class="btn bg-black-7 my-2 btn-icon-text d-inline-block">
                <i _ngcontent-xjy-c134="" class="fe fe-plus text-white bg-transparent"></i>
                <span _ngcontent-xjy-c134=""  class="text-white">{{'Add' | translate}} </span>
              </a>
            </div> -->
            <form class="pos-relative p-4">
                <div class="form-group noPrint form-inline d-flex justify-content-between">
                    <div>
                      {{'fullTextSearch' | translate}} <input class="form-control ms-2" type="text" name="searchTerm" [(ngModel)]="searchText"/>
                      <span class="ml-3" *ngIf="service.loading$ | async">{{'loading...' | translate}}</span>
                    </div>
                    <div class="table-btns">

                      <button _ngcontent-xjy-c134="" type="button" [routerLink]="['../create-Subcategory']" class="m-2 btn my-2 px-2 btn-icon-text " style="padding: 0px;background-color:#ddda66; "><i _ngcontent-xjy-c134=""
                        class="fe fe-plus  px-2 bg-transparent text-black" style="margin: 0 0 ;"></i><span class="faisal text-black" >{{'add' | translate}}</span></button>

                      <button (click)="generatePDF()" _ngcontent-xjy-c134="" type="button" class="btn my-2 btn-icon-text text-black" style="margin-right: 5px; padding: 5px; background-color:#fcf6b6 ; "><i _ngcontent-aph-c190="" class="mdi mdi-file-pdf text-black bg-transparent fs-18 p-0 me-1"></i>PDF</button>
                      <!-- <button _ngcontent-xjy-c134="" type="button" class="btn btn-info my-2 btn-icon-text" style="margin-right: 5px; padding: 5px;">CSV</button> -->
                      <button (click)="ExportTOExcel()" _ngcontent-xjy-c134="" type="button" class="btn my-2 btn-icon-text text-black " style="margin-right: 5px; padding: 5px;  background-color:#fcf6b6 ; "><i _ngcontent-rtg-c190="" class="mdi mdi-file-excel bg-transparent text-black fs-18 p-0 me-1"></i>XLS</button>
                      <button (click)="printPage()" _ngcontent-xjy-c134="" type="button" class="btn my-2 btn-icon-text text-black" style="margin-right: 5px; padding: 0px;  background-color:#fcf6b6 ; "><i _ngcontent-xjy-c134="" class="fe fe-printer bg-transparent  p-2 m-2"></i></button>
                      <!-- <button _ngcontent-xjy-c134="" type="button" class="btn my-2 btn-icon-text bg-black-7" style="margin-right: 5px; padding: 0px;"><i _ngcontent-xjy-c134="" class="fe fe-filter bg-transparent text-white p-2 m-2"></i></button>
                      <button _ngcontent-xjy-c134="" type="button" class="btn my-2 btn-icon-text bg-black-7" style="margin-right: 5px; padding: 0px;"><i _ngcontent-xjy-c134="" class="fe fe-delete bg-transparent text-white p-2 m-2"></i></button> -->
                    </div>
                </div>

                <table class="table table-bordered table-shopping-cart"  #TABLE #table  id="subcategoryprint" #subcategoryprint>

                  <tr class="p-4 text-center li">
                    <!-- <th scope="col">{{'S.No' | translate}}</th> -->
                    <td scope="col" (sort)="onSort($event)"  >{{'categoryName' | translate}}</td>
                    <td scope="col" (sort)="onSort($event)" >{{'subcategoryName' | translate}}</td>

                    <td scope="col" (sort)="onSort($event)">{{'description' | translate}}</td>

                    <td scope="col" (sort)="onSort($event)" data-html2canvas-ignore="true" class="noPrint">{{'action' | translate}}</td>
                  </tr>

                  <tbody class="table-group-divider">
                    <tr *ngFor="let Subcategorys of Subcategory | searchFilter:searchText">
                      <!-- <td>{{1}}</td> -->
                      <td scope="row" >{{Subcategorys.category.categoryName}}</td>
                      <td scope="row" >{{Subcategorys.subcategoryName}}</td>
                      <td scope="row" > {{Subcategorys.description}}</td>

                      <td data-html2canvas-ignore="true" class="noPrint">
                        <a class="btn btn-icon-text" routerLink="../update-Subcategory/{{Subcategorys.subcategoryId}}"><i class="fe fe-edit text-dark bd-black" ngbTooltip="{{'update'|translate}}"></i></a>
                        <button class="btn btn-icon-text" (click)="deleteSubcategory(Subcategorys)"><i class="fe fe-trash-2 text-dark bd-black" ngbTooltip="{{'delete'|translate}}"></i></button>
                      </td>

                    </tr>
                  </tbody>
                </table>

                <mat-paginator #paginator
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25,50, 100]"
                 >
               </mat-paginator>

              </form>
          </div>
        </div>
      </div>
    </div>
