
<app-page-header class="noPrint" title="{{'unit' | translate}}" [items]="['unit'| translate]" active_item="{{'view' | translate}}"></app-page-header>
<div class="row row-sm">
    <div class="col-xl-12">
      <div class="card overflow-visible  ">
        <div class="card-body p-0">
          <div class="table-responsive rounded-top">

            <form class="pos-relative p-4">
                <div class="form-group noPrint form-inline d-flex justify-content-between">
                    <div>
                      {{'search' | translate}} <input class="form-control ms-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
                      <span class="ml-3" *ngIf="service.loading$ | async">{{'loading...' | translate}}</span>
                    </div>
                    <div class="table-btns">

                      <button _ngcontent-xjy-c134="" type="button" [routerLink]="['../create-unit']" class="faisal2 btn my-2 px-2 btn-icon-text " style="margin-left:0px; padding: 0px;background-color:#ddda66; "><i _ngcontent-xjy-c134=""
                        class="fe fe-plus  px-2 bg-transparent text-black" style="margin: 0 0 ;"></i><span class="faisal text-black" >{{'add' | translate}}</span></button>

                      <button (click)="generatePDF()" _ngcontent-xjy-c134="" type="button" class="btn my-2 btn-icon-text text-black" style="margin-right: 5px; padding: 5px; background-color:#fcf6b6 ; "><i _ngcontent-aph-c190="" class="mdi mdi-file-pdf text-black bg-transparent fs-18 p-0 me-1"></i>PDF</button>
                      <!-- <button _ngcontent-xjy-c134="" type="button" class="btn btn-info my-2 btn-icon-text" style="margin-right: 5px; padding: 5px;">CSV</button> -->
                      <button (click)="ExportTOExcel()" _ngcontent-xjy-c134="" type="button" class="btn my-2 btn-icon-text text-black " style="margin-right: 5px; padding: 5px;  background-color:#fcf6b6 ; "><i _ngcontent-rtg-c190="" class="mdi mdi-file-excel bg-transparent text-black fs-18 p-0 me-1"></i>XLS</button>
                      <button (click)="printPage()" _ngcontent-xjy-c134="" type="button" class="btn my-2 btn-icon-text text-black" style="margin-right: 5px; padding: 0px;  background-color:#fcf6b6 ; "><i _ngcontent-xjy-c134="" class="fe fe-printer bg-transparent  p-2 m-2"></i></button>
                      <!-- <button _ngcontent-xjy-c134="" type="button" class="btn my-2 btn-icon-text bg-black-7" style="margin-right: 5px; padding: 0px;"><i _ngcontent-xjy-c134="" class="fe fe-filter bg-transparent text-white p-2 m-2"></i></button>
                      <button _ngcontent-xjy-c134="" type="button" class="btn my-2 btn-icon-text bg-black-7" style="margin-right: 5px; padding: 0px;"><i _ngcontent-xjy-c134="" class="fe fe-delete bg-transparent text-white p-2 m-2"></i></button> -->
                    </div>
                </div>

                <table class="table table-bordered table-shopping-cart"  #TABLE #table id="unitprint" #unitprint >

                  <tr class="p-4 text-center li">
                    <!-- <th scope="col">{{'S.No' | translate}}</th> -->
                    <td scope="col" (sort)="onSort($event)"> {{'unitName' | translate}}</td>
                    <td scope="col" (sort)="onSort($event)"> {{'description' | translate}}</td>
                    <td scope="col" (sort)="onSort($event)" data-html2canvas-ignore="true" class="noPrint"> {{'action' | translate}}</td>
                  </tr>

                  <tbody class="table-group-divider">
                    <tr *ngFor="let units of unit">

                      <!-- <td>{{1}}</td> -->
                      <td>{{units.unitName}}</td>
                      <td>{{units.description}}</td>

                      <td data-html2canvas-ignore="true" class="noPrint">
                        <a class="btn btn-icon-text" routerLink="../update-unit/{{units.unitId}}"><i class="fe fe-edit text-dark bd-black" ngbTooltip="{{'update'|translate}}"></i></a>
                        <button class="btn btn-icon-text" (click)="deleteunit(units)"><i class="fe fe-trash-2 text-dark bd-black" ngbTooltip="{{'delete'|translate}}"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="d-flex noPrint justify-content-between p-2">
                  <ngb-pagination
                    [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                  </ngb-pagination>
                  <!-- <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                    <option [ngValue]="2">2 items</option>
                    <option [ngValue]="4">4 items</option>
                    <option [ngValue]="6">6 items</option>
                  </select> -->
                  <ng-select class="" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                    <ng-option ng-option-selected value="0">--Select--</ng-option>
                    <ng-option value="2">2 items</ng-option>
                    <ng-option value="4">4 items</ng-option>
                    <ng-option value="6">6 items</ng-option>
                  </ng-select>
                </div>

              </form>
          </div>
        </div>
      </div>
    </div>

